.auth-button {
  padding: 1em 2.5em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.auth-button:hover {
  background-color: #218838; 
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}

.auth-button:active {
  background-color: #1e7e34;
  box-shadow: none;
}

.auth-button:focus {
  border: 2px solid #66cba1;
}


/*****************/


.edit-button {
  padding: 1em 2.5em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  /*color: #fff;*/
  color: #6e6e6e;
  /*background-color: #959595;*/
  border: 2px solid rgb(57, 57, 57);
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
}

.edit-button:hover {
  color: white;
  background-color: #545454;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.edit-button:active {
  color: rgb(57, 57, 57);
  box-shadow: none;
}



/*****************/


.danger-button {
  padding: 1em 2.5em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  /*color: #fff;*/
  color: rgb(57, 57, 57);
  /*background-color: #959595;*/
  border: 2px solid rgb(57, 57, 57);
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
}

.danger-button:hover {
  color: white;
  background-color: #800505; 
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.danger-button:active {
  color: rgb(57, 57, 57);
  box-shadow: none;
}