:root {
  /*--main-blue-color: #3aaaeb;
  --main-green-color: #14d286;
  --main-purple-color: #c824d477;*/
  --main-red-color: #e71f1f;
  min-width: 396px;
}

/* Componentes generales */
.custom-hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar-icon {
  font-size: 1.5em; /* Tamaño relativo */
  margin-right: 0.625rem;
  color: #555;
}

.star-rating {
  align-items: center;
  margin-left: 1%;
  margin-bottom: 0.313rem;
}

.star {
  color: #ddd;
  font-size: 1.25rem; /* Tamaño relativo */
  margin-right: 0.313rem;
}

.star.filled {
  color: #ffc107;
}